# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Operating System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.envgit add .gitignore