# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Operating System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Learning / experimental notebooks
notebooks/phase3_learning.ipynb

# Large dataset files
data/raw/*.csv
data/processed/*.csv